body {
  margin: 20px;
  font-family: Helvetica, sans-serif;
}

.card {
  background-color: #dee2ff;
  border-bottom: 5px solid #5c7dd2;
  border-radius: 2px;
  color: #2b2839;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 400px;
}

.card-img {
  width: 150px;
}
